body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #7E0000;
    padding: 20px;
}
.container {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.birthday {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background: #005C6D;
    border-radius: 5px;
    color: white;
}

.footer {
    background: #666666;
    color: white;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}